.search-form-input {
    background-color: #051129;
    border: none;
    border-radius: 35px;
    padding: .85rem 1.25rem;
}

.search-form-input::placeholder {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .05rem;
    font-size: 15px;
}

.search-form {
    position: relative;
    max-width: 50%;
    margin-left: auto;
    margin-right: .5rem;
}

.search-form img {
    padding: .70rem .05rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1rem;
    max-width: 25px;
    width: 25px;
}

.search-form-input-modal {
    background-color: #fff;
    border: none;
    border-radius: 35px;
    padding: .85rem 2.25rem;
}

.search-form-input-modal::placeholder {
    color: #2583E2;
    letter-spacing: .05rem;
    font-size: 15px;
}

.search-form-modal {
    position: relative;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.search-form-modal img {
    padding: .70rem .05rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 1.5rem;
    max-width: 25px;
    width: 25px;
}

.navbar {
    z-index: 10;
}

.navbar a {
    color: #2583E2 !important;
}

@media screen and (max-width: 756px) {
    .navbar a {
        color: #fff !important;
    }
}

#banner-contato .title-banner span {
    right: -10rem !important;
    top: .75rem !important;
}

#banner-contato {
    background: url('../assets/images/banner-contato.jpg') no-repeat;
    background-size: cover;
}

#banner-vagas {
    background: url('../assets/images/banner-vagas.jpg') no-repeat;
    background-size: cover;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    position: relative;
    height: 475px;
    z-index: 2;
}

.mask-banner {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(92.01deg, #2583E2 23.94%, rgba(37, 131, 226, 0) 95.61%);
    opacity: 0.8;
}

.title-banner {
    position: relative;
}

.title-banner span {
    position: absolute;
    top: .5rem;
    right: -6rem;
    color: rgba(255, 255, 255, .15) !important
}

.title-banner h1,
.title-banner span {
    font-family: 'Futura PT' !important;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.filter-banner label {
    font-family: 'Futura PT' !important;
    font-size: 80%;
    font-weight: 700;
}

.filter-banner {
    margin-bottom: -3rem;
    border-radius: 15px;
}

#modal-vaga {
    background-color: rgba(0, 0, 0, .15) !important;
}

#modal-vaga .modal-content {
    border-radius: 0 !important;
}

#modal-vaga p {
    max-height: 350px !important;
    overflow-y: scroll;
}

/* width */
#modal-vaga p::-webkit-scrollbar {
    width: 3.5px;
}

/* Track */
#modal-vaga p::-webkit-scrollbar-track {
    background: rgba(81, 119, 148, 0.2);
}

/* Handle */
#modal-vaga p::-webkit-scrollbar-thumb {
    background: rgba(37, 131, 226, .8);
}

/* Handle on hover */
#modal-vaga p::-webkit-scrollbar-thumb:hover {
    background: rgba(37, 131, 226, 1);
}

#form-candidatura input,
#form-candidatura textarea {
    background-color: transparent !important;
    border: 1.5px solid rgba(81, 119, 148, 1) !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0px !important;
    margin-bottom: 1.5rem !important;
}

#form-candidatura input::placeholder,
#form-candidatura textarea::placeholder {
    font-style: italic !important;
    color: rgba(81, 119, 148, 1) !important;
}

#form-candidatura .box {
    position: absolute;
    top: -2.2rem;
    left: 1rem;
    width: 69px;
    height: 69px;
    background-color: rgba(37, 131, 226, 1);
}

#fale-conosco input,
#fale-conosco textarea {
    background-color: transparent !important;
    border: 1.5px solid rgba(81, 119, 148, 1) !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0px !important;
    margin-bottom: 1.5rem !important;
}

#fale-conosco input::placeholder,
#fale-conosco textarea::placeholder {
    font-style: italic !important;
    color: rgba(81, 119, 148, 1) !important;
}

#fale-conosco .box {
    position: absolute;
    top: -2.2rem;
    left: 1rem;
    width: 69px;
    height: 69px;
    background-color: rgba(37, 131, 226, 1);
}

#fale-conosco .form-select {
    font-style: italic !important;
    text-transform: none !important;
}

#fale-conosco .form-select {
    padding-left: .75rem !important;
}

#destaque-artigos .box1 {
    position: absolute;
    top: -.75rem;
    right: -1rem;
    width: 46px;
    height: 46px;
    background-color: rgba(37, 131, 226, 1);
}

#destaque-artigos .box2 {
    position: absolute;
    bottom: -.75rem;
    left: -.5rem;
    width: 33px;
    height: 33px;
    background-color: rgba(37, 131, 226, 1);
}

#destaque-artigos img {
    filter: grayscale(1);
    object-fit: cover;
}

#destaque-artigos img:hover {
    filter: none;
    transition: filter .4s ease-in-out;
}

#destaque-artigos .info-post {
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
}

#noticias img {
    object-fit: cover;
}

#autor .box {
    position: absolute;
    bottom: -.75rem;
    left: 0rem;
    width: 91px;
    height: 75px;
    z-index: 1 !important;
    background-color: rgba(37, 131, 226, 1);
}

#autor .img-autor {
    position: relative;
    z-index: 2 !important;
}

#autor p {
    line-height: 15.5px;
}

#comentarios .img-comentario-autor {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    object-fit: cover;
}

#comentarios .icon-plugin {
    width: 20px;
    height: 20px;
}